<aside>
  <div class="container card main-container">
    <div class="header fw-bold bg-text-banner p-3">
      <i class="fas fa-mail-bulk pt-1 px-2" style="font-size: 15px"></i>Message
    </div>
    <div class="btns-grp mb-3">
      <button type="button" class="btn btn-primary-custom fw-bold btn-sm">
        Prev
      </button>
      <button type="button" class="btn btn-primary-custom fw-bold btn-sm">
        Refresh
      </button>
      <button type="button" class="btn btn-primary-custom fw-bold btn-sm">
        Next
      </button>
    </div>
    <div class="text-data-container">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold"
          >New Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          style="background: #e6eff3"
          placeholder="JSWADMIN"
        ></textarea>
      </div>
      <div class="date-panel fw-bold mb-3">Send Date:05-02-2023</div>
    </div>
    <div class="text-data-container">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold"
          >New Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          style="background: #e6eff3"
          placeholder="JSWADMIN"
        ></textarea>
      </div>
      <div class="date-panel fw-bold mb-3">Send Date:05-02-2023</div>
    </div>
    <div class="text-data-container">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold"
          >New Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          style="background: #e6eff3"
          placeholder="JSWADMIN"
        ></textarea>
      </div>
      <div class="date-panel fw-bold">Send Date:05-02-2023</div>
    </div>
  </div>
</aside>
