<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="table-mat">
    <!-- Position Column -->
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef>Select</th>
      <td mat-cell *matCellDef="let element">
        <mat-radio-button [value]="element">{{
          element.Select
        }}</mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="ScdID">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="head"
        mat-sort-header="ScdID"
      >
        <span> ScdID</span>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput class="input-filter" [formControl]="nameFilter" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.ScdID }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ScdiDLineNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        ScdiDLineNo
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="idFilter" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.ScdiDLineNo }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="PlanGrade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PlanGrade

        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="colourFilter" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.PlanGrade }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="RhRoute">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RhRoute</th>
      <td mat-cell *matCellDef="let element">{{ element.RhRoute }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="PlanWidth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="PlanWidth">
        PlanWidth
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="petFilter" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.PlanWidth }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="PlanThick">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PlanThick
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="petFilter" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.PlanThick }}</td>
    </ng-container>
    <ng-container matColumnDef="Planneddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Planneddate</th>
      <td mat-cell *matCellDef="let element">{{ element.Planneddate }}</td>
    </ng-container>
    <ng-container matColumnDef="HeatNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HeatNo</th>
      <td mat-cell *matCellDef="let element">{{ element.HeatNo }}</td>
    </ng-container>
    <ng-container matColumnDef="HeatStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HeatStatus</th>
      <td mat-cell *matCellDef="let element">{{ element.HeatStatus }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[3, 6, 9]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
