<article class="article-2 m-2">
  <div class="article-2-content-1 card mb-2">
    <div class="article-2-header1 fw-bold bg-text-banner p-2 mb-2">
      <span>
        <i class="fas fa-home me-2" style="font-size: 24px"></i>Running ID
        Details</span
      >
      <div class="all-btns">
        <button type="button" class="btn btn-banner btn-sm mx-2 fw-bold">
          Retrive
        </button>
        <button type="button" class="btn btn-banner btn-sm mx-2 fw-bold">
          Reset
        </button>
        <button type="button" class="btn btn-banner btn-sm mx-2 fw-bold">
          Run ID
        </button>
        <button type="button" class="btn btn-banner btn-sm mx-2 fw-bold">
          Close ID
        </button>
        <button
          type="button"
          class="btn btn-primary-custom btn-sm mx-2 fw-bold"
        >
          save
        </button>
      </div>
    </div>
    <div class="text-boxes-layout-1 p-2">
      <div class="textbox-1 me-3">
        <form>
          <div class="form-container-textbox mb-3">
            <label class="custom-label-width">Running ID</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-container-textbox">
            <label class="custom-label-width">Total Cast </label>
            <input type="text" class="form-control bg-color" />
          </div>
        </form>
      </div>
      <div class="textbox-2 me-3">
        <form>
          <div class="form-container-textbox mb-3">
            <label class="custom-label-width">Cast No</label>
            <input type="text" class="form-control bg-color" />
          </div>
          <div class="form-container-textbox">
            <label class="custom-label-width">Cast Date</label>
            <input type="text" class="form-control" />
          </div>
        </form>
      </div>
      <div class="textbox-3 me-3">
        <form>
          <div class="form-container-textbox mb-3">
            <label class="custom-label-width">Cast No</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-container-textbox">
            <label class="custom-label-width">Cast Date</label>
            <input type="text" class="form-control" />
          </div>
        </form>
      </div>
      <div class="textbox-4 me-3">
        <form>
          <div class="form-container-textbox mb-3">
            <label class="custom-label-width">Total Heat</label>
            <input type="text" class="form-control bg-color" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="article-2-content-2 card mb-2">
    <div class="article-2-header1 fw-bold bg-text-banner p-2 mb-2">
      <span>
        <i class="fas fa-home me-2" style="font-size: 24px"></i>Planned Schedule
      </span>
    </div>
    <div class="table">
      <app-mattable></app-mattable>
    </div>
  </div>
  <!-- <div class="article-2-content-2 card mb-2">
    <div class="article-2-header1 fw-bold bg-text-banner p-2 mb-2">
      <span>
        <i class="fas fa-home me-2" style="font-size: 24px"></i>Planned Schedule
      </span>
    </div>
    <div class="table">
      <app-mattable></app-mattable>
    </div>
  </div> -->
  <div class="article-2-content-2 card mb-4">
    <div class="article-2-header1 fw-bold bg-text-banner p-2 mb-2">
      <span>
        <i class="fas fa-home me-2" style="font-size: 24px"></i>Planned Schedule
      </span>
    </div>
    <div class="table-3">
      <app-mattable-colspan></app-mattable-colspan>
    </div>
  </div>
</article>
