.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.article {
  flex: 3;
}
.article-container {
  display: flex;
}
.main-layout1 {
  flex: 3;
}
.main-layout2 {
  flex: 1;
}
.main-layout2-content1 {
  width: 19rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  min-height: 34vh;
}
.main-layout2-content2 {
  width: 19rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.form-layout {
  display: flex;
}
.form-layout-1,
.form-layout-2,
.form-layout-3 {
  flex: 1;
}
.bg-text-banner {
  background: #dee2e6;
  color: #5c87c6;
}
.btn-primary-custom {
  background: #5c87c6;
  color: #fff;
}
