/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* table {
  max-width: 100%;
  overflow: auto;
  display: block !important;
} */
.mat-elevation-z8 {
  overflow: hidden;
}
.table-mat {
  width: 100% !important;
  display: block;
  overflow-x: auto;
  max-width: 1003px;
  margin-left: 24px;
}
tr.mat-header-row {
  background-color: #2d7fc7 !important;
}
th.mat-header-cell {
  border: 1px solid rgb(179, 174, 174);
  padding: 10px !important;
}
td.mat-cell {
  border: 1px solid rgb(160, 155, 155);
  padding: 10px !important;
}
th.mat-header-cell {
  color: #fff;
}
.mat-sort-header-arrow {
  color: #fff;
}
.mat-tab-body-content {
  margin-left: 20px !important;
}
.mat-sort-header-content {
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
/* ::ng-deep
  .mat-sort-header-container:not(.mat-sort-header-sorted)
  .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
} */
